<div class="container">
    <h1>
      Conditions Générales
    </h1>
    <div>
      <h6>
        1. Objet - Les présentes conditions générales de vente (CGV) ont pour objet de définir les modalités de mise à
        disposition du service de notification par mail des disponibilités de billets de concert, proposé par
        TicketAlarm.fr aux utilisateurs. Le service est gratuit et n'implique aucune transaction financière entre
        TicketAlarm.fr et les Utilisateurs.
  
      </h6>
      2. Inscription au Service - Pour utiliser le service, les Utilisateurs doivent fournir une adresse e-mail valide et
      sélectionner les concerts pour lesquels ils souhaitent recevoir des notifications. En soumettant leur adresse
      e-mail, les Utilisateurs acceptent de recevoir des e-mails de notification concernant la disponibilité des billets
      de concert.
      <h6>
        3. Fonctionnement du Service - TicketAlarm.fr utilise un logiciel de surveillance qui vérifie toutes les 3
        secondes si des places de concert se libèrent. En cas de disponibilité, une alerte est envoyée immédiatement par
        mail aux Utilisateurs. TicketAlarm.fr ne garantit pas la disponibilité des billets, ni la réussite de l'achat des
        billets par les Utilisateurs.
      </h6>
      <h6>
        4. Limitation de Responsabilité - TicketAlarm.fr décline toute responsabilité en cas de non-réception des
        notifications par les Utilisateurs, de dysfonctionnement du logiciel de surveillance, de retard dans l'envoi des
        notifications, ou d'impossibilité d'achat des billets. TicketAlarm.fr ne peut être tenu responsable des
        conséquences directes ou indirectes de l'utilisation du service.
      </h6>
      <h6>
        5. Protection des Données Personnelles - Les adresses e-mail fournies par les Utilisateurs sont collectées et
        traitées conformément à la réglementation en vigueur en matière de protection des données personnelles. Les
        données collectées sont utilisées uniquement dans le cadre du service de notification et ne seront pas transmises
        à des tiers sans le consentement des Utilisateurs.
      </h6>
      <h6>
        6. Modification des CGV - TicketAlarm.fr se réserve le droit de modifier les présentes CGV à tout moment. Les
        Utilisateurs seront informés des modifications par e-mail et pourront consulter la version actualisée des CGV sur
        TicketAlarm.fr.
      </h6>
      <h6>
        7. Droit Applicable - Les présentes CGV sont soumises au droit français. En cas de litige, les parties
        s'efforceront de trouver une solution amiable avant de recourir aux tribunaux compétents.
      </h6>
    </div>
  </div>
  