<div class="row" >
        
    <div class="col-sm-6 col-lg-4 mb-4" >
        <div class="card">
          <div class="card-body">
            <h5 class="card-title  text-center">Enregistrez-vous ⏰</h5>
            <p class="card-text  text-center">
              Choisissez l'événement auquel vous souhaitez assister. Même si l'événement est déjà sold out, notre service vous permet de rester informé en temps réel.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4" >
        <div class="card">
          <div class="card-body">
            <h5 class="card-title  text-center">Suivi en continu 🤖</h5>
            <p class="card-text  text-center">
               Notre logiciel surveille en permanence la disponibilité des billets. Toutes les 3 secondes, il vérifie si des places se libèrent pour les événements que vous avez sélectionnés.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4" >
        <div class="card">
          <div class="card-body">
            <h5 class="card-title  text-center">Recevez une alerte 🔔</h5>
            <p class="card-text  text-center">
               Dès qu'une place est disponible, nous vous envoyons une alerte immédiate par mail. Vous pourrez ainsi acheter vos billets sans perdre une minute ! </p>
          </div>
        </div>
      </div>
  </div>