<div class="container">
    <h1>
        Politique de Cookies
    </h1>
    <div>
      <h6>
        1. Introduction - Cette politique de cookies explique que notre site web [Nom du Site] n'utilise pas de cookies pour collecter ou stocker des informations sur ses utilisateurs. En utilisant notre site, vous acceptez cette politique.
  
      </h6>
      2. Qu'est-ce qu'un cookie ? - Un cookie est un petit fichier texte placé sur votre appareil (ordinateur, tablette, smartphone) lorsque vous visitez un site web. Les cookies permettent aux sites web de fonctionner efficacement et d'améliorer l'expérience utilisateur, notamment en se souvenant de vos préférences et en collectant des informations sur votre utilisation du site.
      <h6>
        3. Absence de cookies - Contrairement à de nombreux sites web, nous n'utilisons aucun cookie pour collecter ou stocker des informations sur les utilisateurs. Votre vie privée est importante pour nous et nous nous engageons à ne pas utiliser de cookies pour suivre ou enregistrer votre activité en ligne.
      </h6>
      <h6>
        4. Contact - Si vous avez des questions ou des préoccupations concernant cette politique de cookies, n'hésitez pas à nous contacter à l'adresse suivante : "ticketalarm&#64;gmail.com".
      </h6>
    </div>
  </div>
  