
.bg-header {
    --bs-bg-opacity: 1;
    background-color: #124E66 !important;
  }


  
  .btn-primary {
    background-color:  #124E66 !important;
  }
  


  .small-middle-container {
    margin: auto;
    width: 50%;
  }

  img {
    border-radius: 25% 10%;
  }

  .card-no-border { 
    border: 0px !important;
  }







  