<div class="container">
    <div class="row text-center m-5">
      <h1>📣</h1>
    </div>
    <div class="row text-center">
      <div class="col-3"></div>
      <div class="col-6">
        <h1>Votre inscription a bien été prise en compte.</h1>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row text-center m-5">
      <h3>Merci pour votre inscription !</h3>
      <a href="/" class="card-link">
        Retour à l'accueil
      </a>
    </div>

    <div class="row text-center m-5">
      <h1>💃 💃 💃 💃</h1>
    </div>
  </div>